
.modals {
    background-color: var(--primary--color);
    display: flex;
    justify-content: end;
    animation: growth linear 0.1s;
    margin-top: 10px;
}
.black {
    background-color: white !important
}
.modal__body{
    --growth-from: 0.7 --growth-to: 1;
    margin: auto;
    display: flex;
    justify-items: center;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: growth linear 0.1s;
}
.modals-img {
    background-image: url("https://cf.shopee.vn/file/5569eb9dc7e09e2dbed5315b8f2ea8ba"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}
.auth-form{
    width: 500px;
    content: "";
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    right: 1vw;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}
.Header_notify-list:hover.auth-form{
    display: block;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 1.37rem;
    font-weight: 400;
    color: var(--text-color);

}
.auth-form__switch-btn{
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary--color);
    cursor: pointer;
}
.auth-form__input {
    line-height: 2.5rem;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 0.875rem;
    border: solid 1px var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form_aside{
    margin-top: 18px;
}
.auth-for__policy-text{
    font-size: 1.2rem;
    line-height: 1.125rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form_policy-text-link{
    text-decoration: none;
    color: var(--primary--color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.btn{
    height: 34px;
    min-width: 124px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 0.9rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    line-height: 1.6rem;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.auth-form__controls-back{
    margin-right: 8px;
}
.btn.btn--prinary{
    background-color: var(--primary--color);
    color: var(--white-color);
}
.btn.btn--disable{
    cursor: default;
    opacity: 0.9;
    color: #949494;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 20px;
    display: flex;
    gap: 0 20px;
    justify-content: center;
    margin-top: 22px;
}
.btn.btn--size-s{
    height: 30px;
    padding: 0 8px;
}
.btn--with-icon{

}
.auth-form__socials-icon{
    font-size: 1.125rem;
}
.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--white-color);
    
}
.auth-form__socials--facebook{
    background-color: #3a5a98;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form__socials-title{
    padding-left: 15px;
    font-size: 0.9rem;
    padding-right: 15px;
}
.auth-form__socials--google{
    background-color: white;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 0.875rem;
    color: #939393;
}
.auth-form-help{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.auth-form__help-separate{
    border-left: 1px solid #EAEAEA ;
    margin: -2px 16px 0;
    height: 22px;
    display: block;
}
.auth-form__help-forgot{
    color: var(--primary--color);
}
.header_login-logo {
    display: flex;
    padding-top: 20px;
    align-items: center;
}
.header_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}
.header_login-logo{
    display: flex;
    align-items: center;
    
}
.header_login-logo img{
    object-fit: contain;
    width: 20%;

}
.header_login-logo span {
    font-size: 1.8rem;
    padding-top: 22px;
}

.header_login-logo-helps {
    width: 23vw;
    padding-top: 30px;
}

.header_login-logo-helps a{
    font-size: 0.9rem;
    color: var(--primary--color);
}
.modals-logo-shoppe{
    width: 100%;
    height: 100%;
}
.modals-logo-shoppe img{
    width: 100%;
    height: 100%;
}
.erro{
    color: var(--primary--color);
    font-size: 0.75rem;
    margin-left: 15px;
}
@media (max-width: 1023px) {
    @media (min-width: 740px) and (max-width: 1023px) {
        .modals {
            padding-top: unset;
            padding-right: unset;
          }
          .modal__body {
            margin: auto;
          }
          .header_login-logo span {
            padding-top: 12px;
          }
          .header_login-logo-helps {
            width: 550px;
          }
    }
  
    @media (min-width: 481px) and (max-width: 880px) {
        .modals {

            padding-top: 50px;
            padding-bottom: 50px;
              }
    }
    @media only screen and (max-width: 880px) {
        .auth-form {
            right: unset;
            height: unset;
          }
          .header_login-logo-helps {
            width: 100vw;
          }
          .hide-on-table-488 {
            visibility: hidden !important;
            height: 40vh;
          }
 
    }
    @media (max-width: 480px) {
        .modals {
            margin-bottom: 10px;
            margin-top: unset !important;
            padding-top: unset !important;
            height: 572px;
            padding-right: unset !important;
          }
          .auth-form {
            width: 95vw;
            right: unset;
          }
          .auth-form__socials {
            padding: 16px 15px;
          }
          .auth-form__socials-title {
            padding-left: 12px;
            font-size: 0.625rem;
            padding-right: 11px;
          }
          .header_login {
            display: block;
          }
          .header_login-logo-helps {
            text-align: end;
            padding: 10px 10px !important;
          }
          .header_login-logo img {
            width: 55% !important;
          }
          .modal__body img {
            width: 90% !important;
          }
    }
  }
  