.discounts_main-mobile {
  background-color: #123366;
  min-height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.discounts_item-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.discounts_list-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 5px;
}
.discounts_image-mobile {
  width: 40%;
}
.discounts_image-mobile {
}
.discounts_name-mobile {
  font-size: 0.625rem;
  color: var(--white-color);
  text-decoration: none;
  line-height: 0.781rem;
  height: 40px;
  display: flex;
  word-break: break-word;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .discounts_image-mobile {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .discounts_main-mobile {
    margin-top: -6px;
    padding-left: unset !important;
    padding-right: unset !important;
  }
  .discounts_list-mobile {
    overflow-x: auto;
    max-width: 100%;
    justify-content: unset !important;
  }
  .discounts_item-mobile {
    width: 75px !important;
    flex-shrink: 0;
    margin-right: 5px;
  }
  .discounts_image-mobile {
    width: 45% !important;
  }
}
