.Select-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  line-height: 2.125rem;
  background-color: var(--white-color);
  position: relative;
  cursor: pointer;
  z-index: 1;
  &:hover .Select-input-list {
    display: block;
    cursor: pointer;
  }
  .Select-input-label {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
  }
  .Select-input-icon {
    font-size: 0.875rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
  }

  .Select-input-list {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    display: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    .Select-input-link {
      text-decoration: none;
      font-size: 0.875rem;
      color: var(--text-color);
      display: block;
      padding: 4px 0;
      :hover {
        color: var(--primary--color);
      }
    }
  }
}
.Home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
  .Home-filter__page-num {
    font-size: 0.875rem;
    color: var(--text-color);
    margin-right: 22px;
    .Home-filter__page-num-current {
      color: var(--primary--color);
      font-size: 0.938rem;
    }
  }
}

.Home-filter-page-control {
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  width: 72px;
  height: 36px;
  .Home-filter__page-btn {
    flex: 1;
    display: flex;
    width: 36px;
    height: 36px;
    background-color: var(--white-color);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    :first-child {
      border-right: 1px solid #eee;
    }
  }
  .Home-filter__page-icon {
    margin: auto;
    font-size: 0.875rem;
    color: #555;
  }
  .Home-filter__page-disabled {
    background-color: #f9f9f9;
    .Home-filter__page-icon {
      color: #ccc;
      cursor: default;
    }
  }
}
.btn.btn--prinary {
  background-color: var(--primary--color);
  color: var(--white-color);
}
