.profile {
  padding-right: 200px;
  padding-left: 200px;
}
.py {
  padding-top: 120px;
  padding-bottom: 100px;
}
.profile__main {
}

section.profile__main__edit {
}
section.profile__title {
  padding: 30px 0;
  text-align: center;
}

.group {
  padding-bottom: 30px;
}
input[type='text'] {
  width: 100%;
  display: block;
  display: inline-block;
}
.user-img {
  border-radius: 50%;
  margin-bottom: 20px;
  background: #ccc;
  opacity: 0.5;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.user-img img {
  width: 100%;
}
select {
  width: 150px;
  margin-left: 23px;
}
.btnUpdate {
  display: block;
  width: 100px;
  height: 50px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
}
