.discounts-main {
  background-color: var(--white-color);
  padding: 0.625rem 1.25rem;
  /* margin: 10px auto 0; */
  min-height: 100px;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.discounts-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* justify-content: space-around; */
  align-items: center;
  height: 100px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  width: calc(10%);
}
.discounts-list {
  display: flex;
  justify-content: space-around;
}
.discounts-image {
  width: 40%;
}

.discounts-name {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  line-height: 0.781rem;
  /* height: 2.5rem; */
  display: flex;
  word-break: break-word;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (max-width: 880px) {
  .discounts-list {
    overflow-x: auto;
    justify-content: unset;
  }
  .discounts-item {
    flex-shrink: 0;
    width: 13%;
  }
}
@media (max-width: 480px) {
  .discounts-main {
    padding-left: unset !important;
    padding-right: unset !important;
  }
  .discounts-list {
    overflow-x: auto;
    max-width: 100%;
    justify-content: unset !important;
  }
  .discounts-item {
    width: 75px !important;
    flex-shrink: 0;
    margin-right: 5px;
  }
  .discounts-image {
    width: 45% !important;
  }
  .discounts-name {
    font-size: 0.563rem;
  }
}
