@media (max-width: 1023px) {
  @media (min-width: 740px) and (max-width: 1023px) {
    .backR2 {
      padding-right: 10px;
      padding-left: 10px !important;
      margin-bottom: 15px !important;
    }
    .shopping_cart-delete {
      text-align: center;
      margin-left: unset !important;
      width: 100%;
      height: 80px;
      display: flex;
    }
    .shopping_cart-delete h1 {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-bottom: unset !important;
      background-color: #e39616;
    }
    .shopping_cart-delete h2 {
      color: white !important;
      display: flex;
      padding: 3px;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: var(--primary--color);
    }
    .shopping_cart-warehouse h1 {
      margin-top: 5px !important;
    }
  }
  @media (min-width: 481px) and (max-width: 739px) {
  }
  @media only screen and (max-width: 880px) {
  }
  @media (max-width: 480px) {
    .backR2 {
      grid-template-columns: 1fr !important;
      padding-left: 5px !important;
    }
    .shopping_cart-new-price {
      justify-content: unset !important;
      flex-direction: unset !important;
      display: flex !important ;
      padding-left: 83px;
      padding-top: 5px;
      align-items: center !important;
    }
    .shopping_cart-new-price h1 {
      margin-right: 5px !important;
    }

    .shopping_cart-img {
      margin-right: 10px !important;
    }
    .shopping_cart-img-title {
      width: 100% !important;
      margin-right: 5px !important;
    }
    .shopping_cart-img-title h3 {
      margin-bottom: 5px !important;
    }
    .checkmark {
      height: 14px !important;
      width: 14px !important;
    }
    .shopping_cart-img {
      width: 70px !important;
      height: unset !important;
    }
    .shopping_cart-img img {
      width: 100%;
      margin-bottom: 10px;
      height: unset !important;
    }
    .shopping_cart-img-sale {
      width: 60% !important ;
    }
    .shopping_cart-unit-price {
      text-align: unset !important;
      margin-left: 83px;
    }
    .shopping_cart-unit-price button {
      width: 22px !important;
      height: 20px !important;
    }

    .shopping_cart-delete {
      margin-left: unset !important;
      margin-right: unset !important;
      text-align: unset !important;
    }
    .shopping_cart-delete h1 {
      margin-right: 5px !important;
    }
    .mt-10 {
      margin-top: unset !important;
    }
    .backR {
      padding-top: 60px !important;
    }
  }
}
