.product-comment-heading {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 1em;
  text-transform: capitalize;
}
.product-rating-overview {
  background-color: #fffbf8;
  min-height: 5rem;
  border: 1px solid #f9ede5;
  margin-bottom: 1rem;
  /* display: flex; */
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 1.875rem;
}
.product-comment-rating {
  text-align: center;
  height: 84px;
  margin-right: 1.875rem;
}
.product-comment-rating span {
  color: #ee4d2d;
  font-size: 1.875rem;
}
.product-comment-rating label {
  color: #ee4d2d;
  font-size: 1.125rem;
}
.product-items-content-rating-icons {
  display: flex;
  color: #ee4d2d;
}
.product-items-content-rating-icons i {
  margin-right: 5px;
}
.product-comment-filter span {
  border: 1px solid #ee4d2d;
  user-select: none;
  height: 2rem;
  line-height: 2rem;
  min-width: 6.25rem;
  text-align: center;
  padding: 0 0.625rem;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 0.5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  text-transform: capitalize;
  border-radius: 2px;
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;
}
.product-comment-content {
  padding: 1rem 0 1rem 1.25rem;
  display: grid;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  grid-template-columns: 0.06fr 1fr;
}
.product-comment-avatar {
  width: 2.5rem;
  height: 2.5rem;
}
.product-comment-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.product-comment-main h3 {
  text-decoration: none;
  margin-bottom: 0.375rem;
  padding-bottom: 5px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.75rem;
}
.product-comment-main span {
  margin-top: 0.75rem;
  display: block;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
}
.product-comment-main p {
  margin: 0.9375rem 0;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, 0.87);
  word-break: break-word;
  white-space: pre-wrap;
}
.comment-rating {
  display: flex;
}
.comment-rating-img {
  width: 72px;
  height: 72px;
  margin: 0 0.625rem 0.625rem 0;
  position: relative;
}
.comment-rating-img:hover {
  cursor: zoom-in;
  border: 2px solid #ee4d2d;
  padding: 5px;
}
.comment-rating-img img {
  width: 100%;
  height: 100%;
}
.comment-main-shop-feedback {
  margin-top: 0.75rem;
  background-color: #f5f5f5;
  padding: 0.875rem 0.75rem;
  position: relative;
}
.comment-main-shop-feedback p {
  color: rgba(0, 0, 0, 0.87);
  white-space: pre-wrap;
  margin-top: 0.625rem;
  word-break: break-word;
}
.comment-main-shop-feedback h3 {
  color: #8b572a;
  font-size: 0.875rem;
  text-transform: capitalize;
}
.shopee-product-rating__actions {
  display: flex;
  margin-top: 1.25rem;
  color: rgba(0, 0, 0, 0.4);
}
.shopee-product-rating__actions i {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.product-comment-main.shopee-product-rating__actions label {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}
.product-comment-filter .product-comment-filter-active {
  color: #ee4d2d;
  border: 1px solid #ee4d2d;
}
.product-comment-empty {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
}
.product-comment-empty-img {
}
.product-comment-empty-img img {
  width: 100%;
  height: 100%;
}
.product-comment-empty-des {
  margin-top: 1.25rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
}
.icons-active {
  color: #ee4d2d;
}
.comment-rating-show-img {
  width: 500px;
}
.comment-rating-show-img img {
  width: 100%;
  height: 100%;
}
.comment-video {
  width: 72px;
  height: 72px;
  margin-right: 10px;
  position: relative;
}
.comment-video img {
  width: 100%;
  height: 100%;
}
.comment-video i {
  position: absolute;
  /* top: 0; */
  left: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  padding-left: 10px;
  font-size: 0.938rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.54);
  height: 32%;
  display: flex;
  align-items: center;
}

.comment-video:hover {
  cursor: zoom-in;
  border: 2px solid #ee4d2d;
  padding: 5px;
}
@media (max-width: 1023px) {
  @media (min-width: 740px) and (max-width: 1023px) {
  }
  @media (min-width: 481px) and (max-width: 739px) {
  }
  @media only screen and (max-width: 880px) {
  }
  @media (max-width: 480px) {
    .comment-rating-img {
      width: 36px;
      height: 36px;
    }
    .comment-video {
      width: 36px;
      height: 36px;
    }

    .comment-rating-img-video video {
      max-width: 100%;
    }
    .comment-rating-show-img {
      max-width: 100%;
      width: unset;
    }
    .product-comment-content {
      padding: unset;
    }
  }
}
