/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes HeaderNOtifyGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
@keyframes mobileSearchSideIn {
  from {
    opacity: 0;
    top: calc(var(--header-height) / 2);
  }
  to {
    opacity: 1;
    top: var(--header-height);
  }
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2;
  }
}
@keyframes addCart {
  0% {
    scale: 20%;
    opacity: 0.8;
    transform: translate(500px, 0px);
  }
  100% {
    opacity: 0.1;
    scale: 20%;
    transform: translate(4500px, -1700px);
  }
}
.heart-animation {
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  position: sticky;
  z-index: 10;
  transform: translate(-50%, -50%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  cursor: pointer;
  background-position: -2800px 0;
  transition: background 1.5s steps(28);
  animation: fave-heart 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
@keyframes mobileSearchSideIn {
  from {
    opacity: 0;
    top: calc(var(--header-height) / 2);
  }
  to {
    opacity: 1;
    top: var(--header-height);
  }
}
