.App__Container {
  background-color: #f5f5f5;
}
.app-content {
  padding-top: 42px;
}
.Home {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
}

.Home-filter {
  background-color: rgb(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}
.Home-filter-label {
  font-size: 1.4rem;
  color: #555;
  font-weight: 400;
  margin-right: 12px;
}
.Home-filter-btn {
  margin-right: 12px;
  min-width: 90px;
  background-color: var(--white-color);
}

.Select-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  line-height: 34px;
  background-color: var(--white-color);
  position: relative;
  z-index: 1;
}
.Select-input:hover .Select-input-list {
  display: block;
}
.Select-input-label {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.Select-input-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  position: relative;
  top: 1px;
}
.Home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.Select-input-list {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
  padding: 8px 16px;
  display: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.Select-input-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  display: block;
  padding: 4px 0;
}
.Select-input-link:hover {
  color: var(--primary--color);
}
.Home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}
.Home-filter__page-num-current {
  color: var(--primary--color);
  font-size: 1.5rem;
}
.Home-filter-page-control {
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  width: 72px;
  height: 36px;
}
.Home-filter__page-btn {
  flex: 1;
  display: flex;
  width: 36px;
  height: 36px;
  background-color: var(--white-color);
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.Home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}
.Home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}
.Home-filter__page-disabled {
  background-color: #f9f9f9;
}
.Home-filter__page-disabled .Home-filter__page-icon {
  color: #ccc;
  cursor: default;
}
