.Home-Mobile {
  display: none;
  position: fixed;
  bottom: -10px;
  left: 0;
  right: 0;
  border-top: 3px #ccc solid;
}
.active i {
  color: var(--primary--color) !important;
}
.list-wrap {
  display: flex;
  width: 100%;
  height: 80px;
  background: white;
  list-style: none;
  justify-content: space-around;
  padding: 0 20px;
}
.list-wrap li {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.list-wrap li i {
  position: relative;
  font-size: 22px;
  color: black;
  z-index: 5;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.list-wrap li :hover {
  color: var(--primary--color);
}
.list-wrap li:before {
  content: '';
  position: absolute;
  background: green;
  height: 80%;
  width: 80%;
  left: 8px;
  top: 10px;
  border-radius: 50%;
  z-index: 0;
  transform: scale(0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.list-wrap li.active {
  margin-top: -2px;
}
.list-wrap li.active i {
  color: #2f3542;
}
.list-wrap li.active:before {
  transform: scale(1);
}
.list-wrap li:before {
  background: #ffffff;
}

.homeMobile-notify {
  font-size: 1rem;
  position: absolute;
  padding: 1px 7px;
  top: 23px;
  right: 14px;
  line-height: 1.4rem;
  border-radius: 10px;
  color: white;
  z-index: 6;
  background-color: var(--primary--color);
}
