.Pagination {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.Pagination-item {
  list-style: none;
  margin: 0 16px;
}
.Pagination-item_link button {
  outline: none;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.Pagination-item_link {
  --height: 30px;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #939393;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-width: 40px;
  height: var(--height);
  /* display: block; */
  text-align: center;
  line-height: var(--height);
  border-radius: 2px;
  cursor: pointer;
}
.Pagination-item_link-active {
  background-color: var(--primary--color);
  color: var(--white-color);
}
.Pagination-item_link-active .Pagination-item_link:hover {
  background-color: #de5c3f;
}
