.marginT {
  margin-top: 120px !important;
}

.Home-product {
  margin-bottom: 10px;
}
.Home-product-pagination {
  margin-top: 48px;
  margin-bottom: 32px;
  padding-left: 0;
}
.Home-product-item {
  background-color: var(--white-color);
  position: relative;
  margin-top: 5px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
  text-decoration: none;
  display: block;
}
.Home-product-item:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
  /* margin-top: 4px; */
  transform: translateY(-1px);
}
.Home-product-item_img {
  width: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.Home-product-item-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px 10px 6px;
  /* hiện dấu 3 chấm */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.Home-product-item_price {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.Home-product-item_price-old {
  font-size: 1.4rem;
  margin-left: 10px;
  color: #666;
  text-decoration: line-through;
}
.Home-product-item_price-current {
  font-size: 1.6rem;
  color: var(--primary--color);
  margin-right: 10px;
  margin-left: 10px;
}
.Home-product-item_actiton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.Home-product-item_like {
  font-size: 1.3rem;
  color: rgb(255, 66, 79);
  font-size: 1.3rem;
}
.Home-product-item_like-icon-fill {
  color: #f63d30;
  display: none;
}
.Home-product-item_liked .Home-product-item_like-icon-fill {
  display: inline-block;
}
.Home-product-item_liked .Home-product-item_like-icon-empty {
  display: none;
}
.Home-product-item_rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  margin: -1px 0 0 auto;
  color: #ccc;
}
.Home-product-item_rating--gold {
  color: var(--star-gold-color);
}
.Home-product-item_origin {
  display: flex;
  justify-content: space-between;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 4px;
}
.Home-product-item-sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}
.Home-product-item_brand {
}
.Home-product-item_orgin-name {
}
.Home-product-item_favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary--color);
  background-color: currentColor;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.Home-product-item_favourite::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 0px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}
.Home-product-item_favourite span {
  color: var(--white-color);
}
.Home-product-item_favourite i {
  color: var(--white-color);
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
}
.Home-product-item_sale-off {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(255, 216, 64, 0.94);
  background-color: currentColor;
  font-size: 1rem;
  width: 40px;
  height: 36px;
  text-align: center;
}
.Home-product-item_sale-off::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent currentColor transparent currentColor;
  z-index: 10;
}
.Home-product-item_sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.Home-product-item_sale-off-label {
  color: var(--white-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 600;
}
