.App {
  margin-top: 120px;
}
.shopee-search-empty-result-section {
}
.shopee-search-empty-result-section-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopee-search-empty-result-section-img img {
  width: 20%;
}
.shopee-search-empty-title {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
}
.shopee-search-empty-title-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}
.shopee-search-empty-suggestions {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  color: #222;
  margin-top: 80px;
}
