.content-product {
  background-color: #f5f5f5;
  padding-top: 61px;
  padding-bottom: 61px;
}
.content-product .content-product__main {
  margin: 0 auto;

  padding-top: 16px;

  width: 1200px;
  border-radius: 50px;
}
.table-content {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.content-product .content-product__main .product__main-title {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.125rem;
  overflow: hidden;

  height: 55px;
  font-size: 14px;
  background: #fff;
  text-transform: capitalize;
  margin-bottom: 12px;
  color: #888;
  padding: 0 20px;
}
.table-title {
  outline: none;
  margin-bottom: 20px;
  height: 55px;

  background: white;
}
.backR {
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 75px;
}
.backR1 {
  background-color: white;
  display: flex;
}
.backR2 {
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
.body-shop-name {
  border-bottom: 1px solid #ccc;
}
.title-content p {
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  /* text-align: center; */
}
.table-body {
  caption-side: bottom;
  border-collapse: collapse;
  margin-bottom: 10px;
  background: WHITE;
  border-radius: 5px;
  height: 55px;
}
.table-body-list {
  overflow-x: hidden;
  overflow-y: auto;
}
.table_body-heading {
}

/* Customize the label (the container) */
.shopping_cart-checkBox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.shopping_cart-checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.shopping_cart-checkBox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.shopping_cart-checkBox input:checked ~ .checkmark {
  background-color: var(--primary--color);
}
.shopping_cart-checkBox input:checked ~ .checkmark {
  background-color: var(--primary--color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.shopping_cart-checkBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.shopping_cart-checkBox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.table_body-content {
  font-size: 12px;
}
.shopping_cart {
  display: flex;
  align-items: center;
}
.table_body-shop-icon {
}
.shopping_cart-img {
  width: 80px;
  height: 80px;
  margin-right: 12px;
}
.shopping_cart-img img {
  width: 100%;
  height: 100%;
}
.shopping_cart-img-title {
  width: 226px;
}
.shopping_cart-img-title h3 {
  text-decoration: none;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 600;
  max-height: 32px;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.shopping_cart-classify {
  font-size: 14px;
  text-align: center;
  margin-left: 15px;

  color: rgba(0, 0, 0, 0.54);
}
.shopping_cart-classify h1 {
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}

.shopping_cart-classify-icon i {
  margin-left: 5px;
}
.shopping_cart-unit-price button {
  width: 40px;
  height: 30px;
  border: 1px solid #ccc;

  background-color: #f5f5f5;
}
.shopping_cart-unit-price {
  text-align: center;
  font-size: 13px;
}
.shopping_cart-0ld-price {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
}
.shopping_cart-0ld-price h1 {
  color: #0000008a;
  text-decoration: line-through;
  margin-right: 10px;
}
.shopping_cart-0ld-price h2 {
}
.shopping_cart-new-price {
  font-size: 14px;
  text-align: center;
  color: var(--primary--color);
  font-weight: 500;
}
.shopping_cart-delete {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.shopping_cart-delete h1 {
  font-size: 14px;
  margin-bottom: 3px;
  cursor: pointer;
}
.shopping_cart-delete h2 {
  color: var(--primary--color);
  font-size: 14px;
  cursor: pointer;
}
.shopping_cart-delete h2 i {
  margin-left: 5px;
}
.shopping_cart-warehouse h1 {
  color: var(--primary--color);
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
.table_body-shop-name {
  display: flex;
  align-items: center;
  padding-top: 15px;

  padding-left: 75px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
.table_body-shop-name span {
  margin-right: 10px;
  font-size: 14px;
  background-color: var(--primary--color);
  color: white;
  padding: 2px;
}
.table_body-shop-icon {
  font-size: 13px;
  color: var(--primary--color);
}
.table_body-shop-name h1 {
  font-size: 14px;
  margin-right: 5px;
}
table .table_body-heading {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pay {
  position: sticky;
  z-index: 10;
  bottom: 0;
  background: white;
  width: 100%;
}
.pay::before {
  position: absolute;
  content: '';
  top: -51px;
  width: 100%;
  height: 50px;
  left: 0px;
  z-index: 10000;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.06));
}
.pay1 {
  border-bottom: 2px dotted #ccc;
  display: flex;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-Shopee-coin,
.cart-Shopee-Voucher {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.cart-Shopee-coin i,
.cart-Shopee-Voucher i {
  color: var(--primary--color);
  margin-right: 10px;
}
.mgr {
}
.cart-Shopee-coin h1,
.cart-Shopee-coin i {
  opacity: 0.4;
}
.cart-Shopee-coin i:last-child {
  color: #888;
}
.cart-Shopee-coin h1,
.cart-Shopee-coin h2,
.cart-Shopee-Voucher h1 {
  font-weight: 400;
  font-size: 15px;
  margin-right: 10px;
}
.cart-Shopee-Voucher h2 {
  color: #05a;
  font-weight: 400;
}
.cart-Shopee-Voucher h1 {
  font-size: 17px;
}
.cart-Shopee-coin h2 {
  opacity: 0.6;
}
.dp {
  display: flex;
  align-items: center;
}
.pay2 {
  border-bottom: 2px dotted #ccc;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.pay3 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 400;
}
.total-payment {
  display: flex;
}
.select-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping_cart-delete-total {
  display: flex;
  align-items: center;
}
.shopping_cart-delete-total span {
  margin-right: 10px;
}
.shopping_cart-delete-total h2 {
  font-weight: 400;
}
.shopping_cart-save {
  color: var(--primary--color);
}
.shopping_cart-total-pay {
  display: flex;
  align-items: center;
}
.shopping_cart-total-pay h1 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin-right: 10px;
}
.shopping_cart-total-pay span {
  color: var(--primary--color);
  font-size: 19px;
}
.cart-btn-pay {
  width: 190px;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: var(--primary--color);
  color: white;
  font-weight: 300;
  font-size: 15px;
  border-radius: 2px;
}
.emptyCart-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyCart-img img {
  width: 40%;
}
.shopping_cart-new-price h1 {
  text-decoration: line-through;
  color: #ccc;
}
.box-select {
  max-width: 350px;
  position: absolute;
  content: '';
  left: 390px;
  height: 139px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px rgba(189, 189, 189);
}
.product_cart-content-variation button {
  align-items: center;
  background-color: #ffffff;
  color: #757575;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #757575;
  font-size: 10px;
  line-height: 16.8px;
  margin: 0px 4px 4px 0px;
  padding: 2px 5px;
  min-width: 56px;
}
.product_cart-content-variation-item {
  display: flex;
  flex-wrap: wrap;
}
.product_cart-content-variation h3 {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}
.hiden {
  display: none;
}
