.button_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn_modal {
  width: 190px;
  height: 63px;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
  font-size: 21px;
  box-shadow: 0 0 5px #aba4a4;
}
/* .modal_inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  bottom: 0;
  z-index: 1000;
} */
@keyframes modalShow {
  from {
    /* top: -100px; */
    opacity: 0;
  }
  to {
    /* top: 0; */
    opacity: 1;
  }
}
@keyframes modalHiden {
  to {
    opacity: 0;
  }
}

.container_modal {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  animation: modalShow 0.9s linear, modalHiden 1s 2s forwards;
}

.header_modal {
  width: 100%;
  font-size: 16px;
  background-color: var(--primary--color);
  display: flex;
  justify-content: end;
  color: white;
  padding: 15px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.header_modal-icon {
  width: 12px;
  height: 18px;
  cursor: pointer;
}
.content_modal {
  height: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_modal-heading {
  font-size: 24px;
  color: #e26e70;
  margin-bottom: 10px;
  font-weight: bold;
}
.content_modal-description {
  font-size: 16px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.content_modal-btn {
  display: flex;
  justify-content: end;
  padding-right: 15px;
}
.hiden {
  display: none;
}
