.Header-cart {
  justify-content: center;
  display: flex;
  cursor: pointer;
  justify-content: 30px;
  align-items: center;
  flex: 1;
}
.Header-cart-list::after {
  content: '';
  position: absolute;
  right: 0px;
  top: -26px;
  border-color: transparent transparent var(--white-color) transparent;
  border-width: 16px 26px;
  border-style: solid;
  cursor: pointer;
}
.Header-cart-wrap:hover .Header-cart-list {
  display: block;
}
.Header-cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 8px;
}
.Header-cart-icon {
  color: var(--white-color);
  font-size: 1.5rem;
  margin-top: 6px;
}

.Header-cart-list {
  position: absolute;
  top: calc(100% + 6px);
  right: -5px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgb(0 0 0, 20%);
  display: none;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 5;
  max-height: 260px;
  overflow-y: auto;
  padding-bottom: 10px;
}

.Header-cart--no-cart {
  padding-top: 24px;
}
.Header-cart--no-cart .Header-cart--no-cart-img,
.Header-cart--no-cart .Header-cart-list-no-cart-msg {
  margin-left: auto;
  margin-right: auto;
}
.Header-cart--no-cart-img {
  width: 54%;
}
.Header-cart-list-no-cart-msg {
  font-size: 1.125rem;
  color: var(--text-color);
  margin-top: 14px;
}
.Header-cart-notice {
  font-size: 0.875rem;
  position: absolute;
  padding: 1px 7px;
  top: -4px;
  right: -4px;
  line-height: 0.875rem;
  border-radius: 10px;
  border: 2px solid var(--primary--color);
  color: var(--primary--color);
  background-color: var(--white-color);
}
.Header_cart-heading {
  color: #999;
  font-size: 0.875rem;
  text-align: left;
  font-weight: 400;
  margin: 8px 0 8px 12px;
}
.Header_cart-list-item {
  padding-left: 0;
  list-style: none;
}
.Header_cart-item {
  display: flex;
}
.Header_cart-item:hover {
  background-color: #f8f8f8;
}
.Header_cart-item-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}
.Header_cart-item-info {
  width: 100%;
  margin-right: 12px;
  margin-top: 12px;
}
.Header_cart-item-head {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.Header_cart-item-name {
  font-size: 0.813rem;
  margin-right: 10px;
  display: -webkit-box;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
  margin-right: 10px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Header_cart-item-price {
  font-size: 0.875rem;
  color: var(--primary--color);
  font-weight: 400;
}
.Header_cart-item-multily {
  color: #757575;
  font-size: 0.563rem;
  margin: 0 4px 0 4px;
}
.Header_cart-item-qnt {
  color: #757575;
  font-size: 0.75rem;
}
.Header_cart-item-body {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Header_cart-item-description {
  color: #757575;
  font-size: 0.75rem;
  font-weight: 300;
}
.Header-cart--no-cart img {
  display: flex;
  justify-content: center;
}
.Header-cart--no-cart p {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}
.Header_cart-footer h3 {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;

  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.Header_cart-footer button {
  margin-top: 10px;
}

.Header_cart-item-remove {
  color: var(--text-color);
  font-size: 0.875rem;
}
.Header_cart-item-remove:hover {
  color: var(--primary--color);
  cursor: pointer;
}
.Header_cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.btn.btn--prinary:hover {
  background-color: #f05d41;
}
