.Header-with-search {
  height: 82px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0 8px;
}

.Header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0;
}
.Header_mobile-search {
  padding: 0 12px;
}
label.Header_mobile-search {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 99;
  content: '';
  width: 35px;
  border-radius: 50%;
  position: absolute;
  top: 74px;
  left: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

label.Header_mobile-cart {
  z-index: 99;
  content: '';
  width: 35px;
  position: absolute;
  top: 0;
  left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.Header_mobile-search-icon {
  font-size: 1.625rem;
  color: white;
}
.Header_mobile-cart {
  font-size: 2.5rem;
  color: white;
}
.Header__logo {
  width: 180px;
  cursor: pointer;
}
.Header__logo-link {
  text-decoration: none;
  color: transparent;
}
.Header__search {
  background-color: var(--white-color);
  height: 2.5rem;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.margin-r {
  margin-right: 55px;
}
.margin-top {
  padding-top: 2px;
}

.Header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}
.Header_search-input:focus ~ .Header__search-history {
  display: block;
  cursor: pointer;
}
.Header__search-history {
  position: absolute;
  left: 0;
  top: calc(100% - -2px);
  width: 100%;
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(189, 189, 189);
  display: none;
  overflow: hidden;
  z-index: 3;
}

.Header__search-history-heading {
  margin: 6px 12px;
  font-size: 0.875rem;
  color: #999;
  font-weight: 400;
}
.Header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0 0;
}
.Header__search-history-item {
  height: 38px;
  padding: 0 12px;
}
.Header__search-history-item:hover {
  background-color: #fafafa;
}
.Header__search-history-item a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 2.375rem;
  color: var(--text-color);
  display: block;
}
.Header_search-input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 3px;
}
.Header__search-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}
.Header__search-select-label {
  font-size: 0.875rem;
  display: contents;
  color: var(--text-color);
}
.Header__search-select-icon {
  color: rgb(131, 131, 131);
  font-size: 0.875rem;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}
.Header__search-btn {
  height: 34px;
  width: 60px;
  border: none;
  background-color: var(--primary--color);
  border-radius: 3px;
  margin-right: 3px;
  outline: none;
}
.Header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}
.Header__search-btn-icon {
  font-size: 0.875rem;
  color: var(--white-color);
}
.Header__search-option {
  position: absolute;
  right: 0;
  top: 147%;
  width: 120px;
  list-style: none;
  box-shadow: 0 1px 2px #ccc;
  border-radius: 3px;
  padding-left: 0;
  text-align: left;
  display: none;
  animation: fadeIn ease-in 0.2s;
  z-index: 1;
}
.Header__search-select:hover .Header__search-option {
  display: block;
}
.Header__search-option::after {
  content: '';
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 0;
}
.Header_search-option-item {
  background-color: var(--white-color);
  padding: 8px 8px;
}
.Header_search-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.Header_search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.Header_search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.Header_search-option-item span {
  color: var(--text-color);
  font-size: 0.875rem;
  margin-left: 8px;
}
.Header_search-option-item i {
  font-size: 0.875rem;
  color: var(--primary--color);
  margin-left: 12px;
  display: none;
}
.Header_search-option-item-active i {
  display: inline-block;
}

.SuggestionList-item a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
.SuggestionList {
  width: 100%;
  overflow: hidden;
  display: flex;
}
.SuggestionList-item {
  margin-top: 1.875px;
  height: 18px;
  font-size: 0.813rem;
  font-weight: 300;
  margin-right: 55px;
  flex-wrap: nowrap;
  overflow-y: visible;
  flex-wrap: wrap;
  position: relative;
}
.Header__nav-user-item span:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.Header__nav-user-item span:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.Header__nav-user-item span {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.875rem;
  padding: 6px 0;
  display: block;
  padding-left: 16px;
}
@media (max-width: 1023px) {
  @media (min-width: 740px) and (max-width: 1023px) {
    .show {
      display: block;
    }
    .Header {
      height: 120px !important;
    }
    .Header__logo {
      width: 140px;
    }
    .Header_notify {
      width: 336px;
    }
    .Header_notify-header {
      height: 30px;
    }
    .Header_notify-description {
      margin-top: 2px;
    }
    .Header_notify-link {
      padding: 12px 12px 0 12px;
    }
    .Header__notify-footer {
      margin-top: 10px;
    }
    .Header-cart {
      text-align: center;
    }
    .Header-cart-list {
      position: absolute;
      top: calc(100% + 17px);
      right: -85px;
      width: 796px;
      padding-right: 94px;
      padding-left: 94px;
    }
    .Header-cart-list::after {
      display: none;
    }
  }
  @media (min-width: 481px) and (max-width: 739px) {
  }
  @media only screen and (max-width: 880px) {
  }
  @media (max-width: 480px) {
    .Header {
      background-image: unset !important;
    }

    .Header-cart {
      justify-content: unset;
      flex: unset;
    }

    .Header {
      height: 60px;
    }
    .Header-with-search {
      height: 60px;
    }
    .Header__search {
      width: 76vw;
    }
    .Header__logo {
      width: unset;
    }
    .Header-cart {
      width: unset;
    }
    /* .Header__search {
    height: 30px;
    width: 80vw;
  } */
    .Header__search-btn {
      width: unset;
      height: unset;
      background-color: unset !important;
    }
    .Header__search-btn-icon {
      color: black !important;
    }
    /* .Header__search-input-wrap {
    order: 2;
  } */
    .Header_search-input {
      padding: unset;
    }
    .Header-cart-notice {
      padding: 1px 4px;
      right: 4px;
      font-size: unset;
      top: -2px;
      background-color: var(--primary--color);
      border: 1px var(--white-color) solid;
      color: var(--white-color);
    }
    .Header__search-btn {
      width: unset !important;
      padding: 0 5px;
    }
    .Header_search-input {
      padding: unset !important;
    }
    .Header-with-search {
      background-image: unset !important;
    }
    .Header__search {
      margin-top: unset !important;
    }
  }
}
