.vAkdD0 {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 16px 0;
  font-size: 1rem;
  line-height: 1.188rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
}
.r-S3nG {
  border-color: #ee4d2d;
}

.r-S3nG,
.vAkdD0:hover {
  color: #ee4d2d;
}
