.Pagination {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.Pagination-item {
  list-style: none;
  margin: 0 16px;
}
.Pagination-item_link button {
  outline: none;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.Pagination-item_link {
  --height: 30px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  color: #939393;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-width: 40px;
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  border-radius: 2px;
  cursor: pointer;
}
.Pagination-item_link-active {
  background-color: var(--primary--color) !important;
  border-radius: 7px;
}
.Pagination-item_link:hover {
  color: #939393;
}
.Pagination-item_link-active:hover,
.Pagination-item_link-active:hover a,
.Pagination-item_link-active a {
  color: white !important;
}
