.header_modal {
  width: 100%;
  font-size: 1rem;
  background-color: var(--primary--color);
  display: flex;
  justify-content: end;
  color: white;
  padding: 15px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container_modal {
  width: 350px;
  background-color: white;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.animation_modal {
  animation: modalShow 0.9s linear, modalHiden 1s 2s forwards;
}
@keyframes modalShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalHiden {
  to {
    opacity: 0;
  }
}
