.category-heading {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.125rem;
  margin: 8px 0;
}
.category-heading-icon {
  font-size: 1rem;
  margin-right: 4px;
}
.category-group {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.category-group-title {
  color: var(--text-color);
  font-size: 0.938rem;
  padding: 0 0 10px;
}
.category-group-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-group-item {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--text-color);
  padding: 8px 0;
}
.category-group-item-check {
  margin-right: 12px;
}
.category-group-filter {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: var(--text-color);
  padding: 8px 0;
  justify-content: space-between;
}
.category-group-filter-input {
  width: 76px;
  height: 24px;
  outline: none;
  border: 1px solid #999;
  padding: 8px;
}

.category-group-filter-btn {
  width: 100%;
  margin: 8px 0;
}

.rating-star {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.938rem;
  width: 70%;
  padding: 8px 0;
}

.rating-star .star-checked {
  color: #ffe400;
  font-weight: 900;
}

.rating-star .star-uncheck {
  color: #ffe400;
  font-weight: unset;
}

.category-group--margin {
  margin: 20px 0;
}
